 <!-- Home Web Page 
 * Title: Assignment 1 - COMP229 SEC401
 * Author: Tim Upton
 * Student #: 301 259 058
 * Date: 27 Sep 2022
 */-->
    <!--<h1><%= title %></h1> -->
	
    <h1>Member Login</h1>
    <br>
    <div class="contMission">
    <img src="./content/images/login.png" class = "loginImg">
    <form class = "login">
        <input type = "text" class = "loginText" placeholder="Username">
        <input type = "text" class = "loginText" placeholder="Password">
        <button class = "btnLogin">LOGIN</button>
        <br><br>
        <a><p>Forgot Username/Password?</p></a>
        

    </form>
    
    </div><div class="contMissionPic"></div>
<div class="divAboutBreak"></div>

<script src="../../../Models/contacts.js"></script>